<template>
<v-container fluid>
    <top-row
        pageTitle="Category List"
        addBtnText="Add new category"
        @add-clicked="dialog=true"
    ></top-row>
    <v-divider></v-divider>
    <v-row 
        v-for="category in categories" :key="category.id"
        class="mx-2 my-3 border-bottom"
    >
        <v-col cols="3">{{ formatName(category.name) }}</v-col>
        <v-col cols="9" class="text-right">
            <v-btn 
                color="grey darken-1 white--text mr-3"
                @click="selectCategory(category)"
            >
                Edit
            </v-btn>
            <v-btn 
                color="red darken-2 white--text mr-3"
                @click="deleteCategory(category.id)"
            >
                Delete
            </v-btn>
        </v-col>
    </v-row>

    <custom-dialog
        v-model="dialog"
        :title="title"
        @save-click="save"
        @close-click="resetData"
    >
        <v-text-field
            v-model="selectedCategory.name"
            label="Name"
        >
        </v-text-field>
    </custom-dialog>
        
</v-container>
</template>

<script>
import CategoryService from '../services/CategoryService';
import TopRow from './utility/TopRow';
import CustomDialog from './utility/CustomDialog';
import Utils from '../services/Utils';

export default {
    components: {
        TopRow,
        CustomDialog,
    },

    data() {
        return {
            categories: [],
            selectedCategory: {},
            defaultCategory: {
                name: '',
            },
            dialog: false,
            editing: false,
        };
    },

    computed: {
        title: function() {
            return this.editing ? 'Edit category' : 'Add category';
        },
    },

    created() {
         this.getAllCategories();
    },

    methods: {
        formatName(name) {
            return Utils.upperCaseFirstLetter(name);
        },

        selectCategory(category) {
            this.selectedCategory = Object.assign({}, category);
            this.editing = true;
            this.dialog = true;
        },

        resetData() {
            this.selectedCategory = Object.assign({}, this.defaultCategory);
            this.editing = false;
            this.dialog = false;
        },

        async getAllCategories() {
            this.categories = await CategoryService.getAllCategories();
        },

        async deleteCategory(id) {
            await CategoryService.deleteCategory(id);
            this.getAllCategories();
        },

        async save() {
            if (this.editing) {
                await CategoryService.updateCategory(this.selectedCategory);
            } else {
                await CategoryService.addCategory(this.selectedCategory);
            }
            this.resetData();
            this.getAllCategories();
        }
    },
};
</script>

<style scoped>
.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
</style>