<template>
  <v-container fluid>
    <top-row
        pageTitle="Customer List"
        addBtnText="Add new Customer"
        @add-clicked="dialog=true"
    ></top-row>
    <v-divider></v-divider>
    <v-row 
        v-for="customer in customers" :key="customer.id"
        class="mx-2 my-3 border-bottom"
    >
        <v-col cols="1">{{ formatName(customer.lastName) }}</v-col>
        <v-col cols="1">{{ formatName(customer.firstName) }}</v-col>
        <v-col cols="1">{{ formatName(customer.address) }}</v-col>
        <v-col cols="1">{{ formatName(customer.phoneNumber) }}</v-col>
        <v-col cols="1">{{ formatName(customer.email) }}</v-col>
        <v-col cols="7" class="text-right">
            <v-btn 
                color="grey darken-1 white--text mr-3"
                @click="selectCustomer(customer)"
            >
                Edit
            </v-btn>
            <v-btn 
                color="red darken-2 white--text mr-3"
                @click="deleteCustomer(customer.id)"
            >
                Delete
            </v-btn>
        </v-col>
    </v-row>

    <custom-dialog
        v-model="dialog"
        :title="title"
        @save-click="save"
        @close-click="resetData"
    >
        <v-text-field
            v-model="selectedCustomer.lastName"
            label="Last Name"
        >
        </v-text-field>
        <v-text-field
            v-model="selectedCustomer.firstName"
            label="First Name"
        >
        </v-text-field>
        <v-text-field
            v-model="selectedCustomer.address"
            label="Address"
        >
        </v-text-field>
        <v-text-field
            v-model="selectedCustomer.phoneNumber"
            label="Phone Number"
        >
        </v-text-field>
        <v-text-field
            v-model="selectedCustomer.email"
            label="Email"
        >
        </v-text-field>
    </custom-dialog>
</v-container>
</template>

<script>
import Utils from '../services/Utils';
import CustomerService from '../services/CustomerService';
import TopRow from './utility/TopRow';
import CustomDialog from './utility/CustomDialog';

export default {
  components: {
    TopRow,
    CustomDialog,
  },

  data() {
    return {
      customers: [],
      selectedCustomer: {},
      defaultCustomer: {
        lastName: '',
        firstName: '',
        address: '',
        phoneNumber: '',
        email: '',
      },
      dialog: false,
      editing: false,
    };
  },

  computed: {
        title: function() {
            return this.editing ? 'Edit customer' : 'Add customer';
        },
    },

    created() {
         this.getAllCustomers();
    },

    methods: {
        formatName(name) {
            return Utils.upperCaseFirstLetter(name);
        },

        selectCustomer(customer) {
            this.selectedCustomer = Object.assign({}, customer);
            this.editing = true;
            this.dialog = true;
        },

        resetData() {
            this.selectedCustomer = Object.assign({}, this.defaultCustomer);
            this.editing = false;
            this.dialog = false;
        },

        async getAllCustomers() {
            this.customers = await CustomerService.getAllCustomers();
        },

        async deleteCustomer(id) {
            await CustomerService.deleteCustomer(id);
            this.getAllCustomers();
        },

        async save() {
            if (this.editing) {
                await CustomerService.updateCustomer(this.selectedCustomer);
            } else {
                await CustomerService.addCustomer(this.selectedCustomer);
            }
            this.resetData();
            this.getAllCustomers();
        },
    }
}
</script>

<style scoped>
.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
</style>