<template>
  <v-container fluid>
    <top-row
        pageTitle="Order List"
        addBtnText="Add new Order"
        @add-clicked="dialog=true"
    ></top-row>
    <v-divider></v-divider>
    <v-row
      v-for="order in orders" :key="order.id"
      class="mx-2 my-3 border-bottom"
    >
      <v-col cols="1">Customer: {{ formatName(order.customer.lastName) }}, {{ formatName(order.customer.firstName) }}</v-col>
      <v-col cols="1">Shipper: {{ formatName(order.shipper.name) }}</v-col>
      <v-col cols="2">Date Placed: {{ Date(order.datePlaced) }}</v-col>
      <v-col cols="2">Date Delivered: {{ Date(order.dateDelivered).toLocaleString() }}</v-col>
      <v-col cols="1">Order Status: {{ order.orderStatus }}</v-col>
      <v-col cols="5" class="text-right">
        <v-btn 
            color="grey darken-1 white--text mr-3"
            @click="selectShipper(shipper)"
        >
            Edit
        </v-btn>
        <v-btn 
            color="red darken-2 white--text mr-3"
            @click="deleteShipper(shipper.id)"
        >
            Delete
        </v-btn>
      </v-col>
      <v-row
        v-for="ordDet in order.orderDetails" :key="ordDet.product.id"
        class="mx-2 my-3"
      >
        <v-col cols="8">{{ ordDet.product.name }}</v-col>
        <v-col cols="4">{{ ordDet.unitsOfProduct }}</v-col>
      </v-row>
    </v-row>

    <custom-dialog
      v-model="dialog"
      :title="title"
      @save-click="save"
      @close-click="resetData"
    >

    </custom-dialog>
  </v-container>
</template>

<script>
import Utils from '../services/Utils';
import OrderService from '../services/OrderService';
import TopRow from './utility/TopRow';
import CustomDialog from './utility/CustomDialog';

export default {
  components: {
    TopRow,
    CustomDialog,
  },

  data() {
    return {
      orders: [],
      selectedOrder: {},
      defaultOrder: {},
      dialog: false,
      editing: false,
    };
  },

  computed: {
    title: function() {
      return this.editing ? 'Edit order' : 'Add order';
    },
  },

  created() {
      this.getAllOrders();
    },

  methods: {
      formatName(name) {
          return Utils.upperCaseFirstLetter(name);
      },

      selectOrder(order) {
          this.selectedOrder = Object.assign({}, order);
          this.editing = true;
          this.dialog = true;
      },

      resetData() {
          this.selectedOrder = Object.assign({}, this.defaultOrder);
          this.editing = false;
          this.dialog = false;
      },

      async getAllOrders() {
          this.orders = await OrderService.getAllOrders();
      },

      async deleteOrder(id) {
          await OrderService.deleteOrder(id);
          this.getAllOrders();
      },

      async save() {
          if (this.editing) {
              await OrderService.updateOrder(this.selectedOrder);
          } else {
              await OrderService.addOrder(this.selectedOrder);
          }
          this.resetData();
          this.getAllOrders();
      },
  }
}
</script>

<style scoped>
.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
</style>