<template>
  <v-container fluid>
      <top-row
        pageTitle="Products List"
        addBtnText="Add new product"
        @add-clicked="addNewProduct"
      ></top-row>
      <v-divider></v-divider>
      <v-row
        v-for="product in products" :key="product.id"
        class="mx-2 my-3 border-bottom"
        align="center"
        justify="center"
      >
        <v-col cols="2">
          <img width="120" height="150" v-bind:src="'data:image/jpeg;base64,' + product.info.image">
        </v-col>
        <v-col cols="2">
            <span class="text-h5 font-weight-bold">{{formatName(product.name)}}</span><br>
            <span>{{product.info.description}}</span><br>
        </v-col>
        <v-col cols="2">
            <span>{{product.pricePerUnit}} RON</span><br>
            <span v-if="product.unitsInStock === 0">Out Of Stock</span>
        </v-col>
        <v-col class="text-right" cols="6">
          <v-btn 
                color="grey darken-1 white--text mr-3"
                @click="selectProduct(product)"
            >
                Edit
            </v-btn>
            <v-btn 
                color="red darken-2 white--text mr-3"
                @click="deleteProduct(product.id)"
            >
                Delete
            </v-btn>
        </v-col>
        <!-- <v-col><v-btn>Add to cart</v-btn></v-col> -->
      </v-row>

      <custom-dialog
        :value="dialog"
        :title="title"
        @save-click="save"
        @close-click="resetData"
      >
        <v-file-input
          v-model="selectedFile"
          accept="image/*"
          label="Product Image"
        ></v-file-input>
        <v-text-field
          v-model="selectedProduct.name"
          label="Name"
        ></v-text-field>
        <v-text-field
          v-model="selectedProduct.info.description"
          label="Description"
        ></v-text-field>
        <v-text-field
          v-model="selectedProduct.pricePerUnit"
          label="Price"
          type="number"
        ></v-text-field>
        <v-text-field
          v-model="selectedProduct.unitsInStock"
          label="Units in stock"
          type="number"
        ></v-text-field>
        <v-select
          v-model="selectedProduct.categories"
          :items="categories.map(cat => cat.name)"
          label="Categories"
          attach
          chips
          multiple
        ></v-select>
      </custom-dialog>
  </v-container>
</template>

<script>
import TopRow from './utility/TopRow';
import ProductService from '../services/ProductService';
import Utils from '../services/Utils';
import CustomDialog from './utility/CustomDialog.vue';
import CategoryService from '../services/CategoryService';

export default {
  components: {
    TopRow,
    CustomDialog,
  },

  data() {

    return {
      products: [],
      selectedProduct: {
        info: {
        }
      },
      defaultProduct: {
        name: '',
        info: {
          description: '',
        },
        pricePerUnit: 0,
        unitsInStock: 0,
        categories: [],
      },
      categories: [],
      selectedCategories: [],
      dialog: false,
      editing: false,
      selectedFile: null,
    };
  },

  computed: {
    title: function() {
      return this.editing ? "Edit product" : "Add product"
    },
  },

  created() {
    this.getAllProducts();
    this.getAllCategories();
  },

  methods: {
    addNewProduct() {
      this.dialog=true;
      this.getAllCategories();
      this.selectedProduct = Object.assign({}, this.defaultProduct);
      this.editing = false;
      this.dialog = true;
    },

    formatName(name) {
      return Utils.upperCaseFirstLetter(name);
    },

    convertImages() {
      this.products = this.products.map(prod => {
        const newProd = prod;
        newProd.info.image  = Utils.convertToImage(prod.info.image);
        return newProd;
      });
    },

    selectProduct(product) {
      this.getAllCategories();
      this.selectedProduct = Object.assign({}, product);
      this.selectedProduct.categories = product.categories.map(cat => cat.name);
      this.editing = true;
      this.dialog = true;
    },

    resetData() {
      this.selectedProduct = Object.assign({}, this.defaultProduct);
      this.selectedFile = null;
      this.editing = false;
      this.dialog = false;
    },

    async getAllProducts() {
      this.products = await ProductService.getAllProducts();
      this.convertImages();
    },

    async getAllCategories() {
      this.categories = await CategoryService.getAllCategories();
    },

    async deleteProduct(id) {
      await ProductService.deleteProduct(id);
      this.getAllProducts();
    },

    async save() {
      this.selectedProduct.categories = this.selectedProduct.categories.map(selCat => {
        return this.categories.find(cat => cat.name === selCat).id;
      });
      if (this.editing) {
        await ProductService.updateProduct(this.selectedProduct);
        await ProductService.updateProductImage(this.selectedFile, this.selectedProduct.id);
      } else {
        const addedProd = await ProductService.addProduct(this.selectedProduct);
        await ProductService.updateProducImage(this.selectedFile, addedProd.id);
      }
      this.resetData();
      this.getAllProducts();
    },
  },
}
</script>

<style scoped>
.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
</style>