<template>
<v-container fluid>
    <top-row
        pageTitle="Shipper List"
        addBtnText="Add new Shipper"
        @add-clicked="dialog=true"
    ></top-row>
    <v-divider></v-divider>
    <v-row 
        v-for="shipper in shippers" :key="shipper.id"
        class="mx-2 my-3 border-bottom"
    >
        <v-col cols="3">{{ formatName(shipper.name) }}</v-col>
        <v-col cols="9" class="text-right">
            <v-btn 
                color="grey darken-1 white--text mr-3"
                @click="selectShipper(shipper)"
            >
                Edit
            </v-btn>
            <v-btn 
                color="red darken-2 white--text mr-3"
                @click="deleteShipper(shipper.id)"
            >
                Delete
            </v-btn>
        </v-col>
    </v-row>

    <custom-dialog
        v-model="dialog"
        :title="title"
        @save-click="save"
        @close-click="resetData"
    >
        <v-text-field
            v-model="selectedShipper.name"
            label="Name"
        >
        </v-text-field>
        <v-text-field
            v-model="selectedShipper.phoneNumber"
            label="Phone Number"
        >
        </v-text-field>
    </custom-dialog>
</v-container>
</template>

<script>
import Utils from '../services/Utils';
import ShipperService from '../services/ShipperService';
import TopRow from './utility/TopRow';
import CustomDialog from './utility/CustomDialog';

export default {
    components: {
        TopRow,
        CustomDialog,
    },

    data() {
        return {
            shippers: [],
            selectedShipper: {},
            defaultShipper: {
                name: '',
                phoneNumber: '',
            },
            dialog: false,
            editing: false,
        };
    },

    computed: {
        title: function() {
            return this.editing ? 'Edit shipper' : 'Add shipper';
        },
    },

    created() {
         this.getAllShippers();
    },

    methods: {
        formatName(name) {
            return Utils.upperCaseFirstLetter(name);
        },

        selectShipper(shipper) {
            this.selectedShipper = Object.assign({}, shipper);
            this.editing = true;
            this.dialog = true;
        },

        resetData() {
            this.selectedShipper = Object.assign({}, this.defaultShipper);
            this.editing = false;
            this.dialog = false;
        },

        async getAllShippers() {
            this.shippers = await ShipperService.getAllShippers();
        },

        async deleteShipper(id) {
            await ShipperService.deleteShipper(id);
            this.getAllShippers();
        },

        async save() {
            if (this.editing) {
                await ShipperService.updateShipper(this.selectedShipper);
            } else {
                await ShipperService.addShipper(this.selectedShipper);
            }
            this.resetData();
            this.getAllShippers();
        },
    }
}
</script>

<style scoped>
.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
</style>