<template>
  <v-app>
    <v-app-bar
      app
      dense
      color="deep-purple accent-4"
      dark
    >
      <v-toolbar-title>Online Shop</v-toolbar-title>
      <v-spacer></v-spacer>
      <template v-slot:extension>
        <v-tabs v-model="selectedTab">
          <v-tab v-for="tab in tabs" :key=tab.title>{{tab.title}}</v-tab>
        </v-tabs>
      </template>
    </v-app-bar>

    <v-main>
      <v-tabs-items v-model="selectedTab">
        <v-tab-item v-for="tab in tabs" :key=tab.title>
          <component :is="tab.component"></component>
        </v-tab-item>
      </v-tabs-items>
    </v-main>
  </v-app>
</template>

<script>
import Config from './config/config';

export default {
  name: 'App',

  data() {
    return {
      selectedTab: null,
      tabs: Config.tabs,
    };
  },
};
</script>

<style>
html {
  overflow-y: auto;
}
</style>
