<template>
  <v-dialog
    v-model="value"
    max-width="500"
  >
      <v-card>
        <v-card-title class="headline deep-purple accent-4 white--text">
            {{ title }}
        </v-card-title>
        <v-card-text>
            <slot></slot>
        </v-card-text>
        <v-card-actions>
            <v-btn 
                class="yellow accent-4"
                @click="$emit('save-click')"
            >
                Submit changes
            </v-btn>
            <v-btn
                class="red darken-2"
                @click="$emit('close-click')"
            >
                Close
            </v-btn>
        </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
    props: {
        value: {
            type: Boolean,
            required: true,
        },

        title: {
            type: String,
            required: true,
        },
    }
}
</script>

<style>

</style>