<template>
  <v-row class="mx-2 mt-5 mb-3">
        <v-col cols="4">
            <span class="text-h4 font-weight-medium">{{ pageTitle }}</span>
        </v-col>
        <v-col cols="8" class="text-right">
            <v-btn 
                class="yellow accent-4 mr-3"
                @click="$emit('add-clicked')"
            >
                {{ addBtnText }}
            </v-btn>
        </v-col>
    </v-row>
</template>

<script>
export default {
    props: {
        pageTitle: {
            type: String,
            required: true,
        },
        addBtnText: {
            type:String,
            required: true,
        },
    },
}
</script>